body, .main-wrapper {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 5%;
}

.main-wrapper .content {
    position: relative; /* Ensures content is properly layered */
    z-index: 2; /* Higher than the background */
    background-color: #ffffff; /* Or any other background to ensure readability */
    /* Add padding, margins as necessary for your design */
}

.fullscreen-image {
    position: relative; /* This makes it a reference for absolutely positioned child elements */
    background-image: url('../images/FisherPanoramic.jpg');
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center; /* This will vertically center the title */
    justify-content: center; /* Horizontally center the title if needed */
}

.fullscreen-image-resume {
    position: relative; /* This makes it a reference for absolutely positioned child elements */
    background-image: url('../images/Columbus-ohio-skyline-panorama.jpg');
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center; /* This will vertically center the title */
    justify-content: center; /* Horizontally center the title if needed */
}

.fullscreen-image-projects {
    position: relative; /* This makes it a reference for absolutely positioned child elements */
    background-image: url('../images/2560px-Columbus_Pano_2.jpg');
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center; /* This will vertically center the title */
    justify-content: center; /* Horizontally center the title if needed */
}

.fullscreen-image-about {
    position: relative; /* This makes it a reference for absolutely positioned child elements */
    background-image: url('../images/usa-columbus-ohio-skyline.png');
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center; /* This will vertically center the title */
    justify-content: center; /* Horizontally center the title if needed */
}

.image-title {
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    width: 80%;
    max-width: 600px;
    text-shadow: 5px 5px 12px rgba(0, 0, 0, 0.7); /* Drop shadow */
}

.image-title-secondary {
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    width: 80%;
    max-width: 600px;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 1); /* Drop shadow */
}

body::before {
    content: "";
    position: fixed; /* Use fixed to cover the entire viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2e2e2e;
    z-index: -1; /* Ensures the content sits on top of the background */
}

.navbar {
    background-color: #ababab;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.navbar li {
    list-style: none;
}

.navbar li a {
    padding: 10px 15px;
    text-decoration: none;
    color: white;
}

.navbar li.nav-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.navbar li.nav-image a img {
    height: 50px; /* Adjust as per your logo's aspect ratio */
    
}

.navbar li a:hover {
    background-color: #ddd;
    color: black;
}
.navbar li.nav-image:hover {
    background-color: #ddd;
}

.navbar li.nav-image:hover a {
    color: black;
}

.active {
    background-color: #4CAF50;
}

main {
    padding-top: 0px; /*could be useless */
}

.intro {
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
}

.image-placeholder {
    width: 100%;
    height: 300px;
    background-color: #ddd;
    text-align: center;
    line-height: 300px;
    margin: 20px 0;
}

footer {
    background-color: #ababab;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.centered-title {
    display: flex;
    justify-content: center; /* Centers horizontally */
    text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2); /* Drop shadow */
}

.content-section {
    display: flex;
    align-items: center; /* Aligns items at the center of the cross axis */
    justify-content: space-between; /* Keeps space between the text and the image */
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: #f0f0f0; /* Example background color */
}

.content-section .text-content {
    flex-grow: 1;
    margin-right: 100px; /* Adjust this value to move the text closer or further from the image */
    margin-left: 100px; 
}

.content-section .image-content {
    flex-shrink: 0;
    background-color: #e0e0e0; /* Slightly darker gray for the image background */
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px; /* Adjust this value to move the image closer or further from the text */
}

.content-section .image-content img {
    max-width: 100%; /* Allow the image to fill its container */
    height: auto; /* Maintain the aspect ratio */
}

.content-section .image-content .imageSmall {
    max-width: 200px;
    max-height: 200px;
}

.content-section .image-content .imageMed {
    max-width: 500px;
    max-height: 500px;
}

.content-section .image-content .imageLarge {
    max-width: 1000px;
    max-height: 1000px;
}

.content-section.alternate {
    flex-direction: row-reverse;
}
